<div class="container">
    <div class="page-header">
      <br>
      <h1> {{ title }} </h1>
      <hr class="my-4">
      <alert></alert>
      <router-outlet></router-outlet> 
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <hr class="my-4">
      <span class="text-muted">
        <p>
         Made with ☕ by Macarena Haspert |
          <a href="https://github.com/kawzar" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </p>
      </span>
    </div>
  </footer>